<h1>Ever want to read more of the Bible? I did.</h1>

<p>I didn't really know where to start. I have tried off and on to read it and I have always seen others reading it more and have said to myself, "Man, it would be great if you could kick it into gear like those guys."</p>

<p>Then I found out about <%= link_to "Know The Word", "http://www.acac.net" %> </p>