<h1>About Know the Word App</h1>
<p>I am building this web application because I never really before about a year ago, read the Bible.</p>
<p>I would, if I was in Church but in general I moreso just listened to praise and worship music and there was an aspect that I was sorely lacking, but I didnt have the motivation to do it.</p>
