<div class="hero-unit">

<h1>Read the entire Bible</h1>
<h2>in 2 Years.</h2>

    <p class="lead">Welcome to <%= link_to 'Know the Word',  "http://www.acac.net/index.cfm/pageid/1225/index.html" %>
     </p>

    <p> <%= link_to 'Sign up now!',  new_user_registration_path , class: "btn btn-large btn-success" %> </p>
</div>
<%= render 'layouts/benefits' %>