<div class="center hero-unit">

<h1>Welcome</h1>
    <p>to <%= link_to 'Know the Word',  "http://www.acac.net/index.cfm/pageid/1225/index.html" %>
     </p>

    <p> <%= link_to 'Sign up now!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>