<h1>Verses</h1>
<p>The verses are below.</p>

<table class="table table-hover">
  <tr>
    <th>Book</th>
    <th>Chapter</th>
    <th>Verse</th>
    <th>Verse Text</th>
    <th></th>
  </tr>
 
<% @verses.each do |verse| %>
  <tr>
    <td><%= verse.book %></td>
    <td><%= verse.chapter %></td>
    <td><%= verse.verse %></td>
        <td><%= verse.verse_text %></td>

  </tr>
<% end %>
</table>