<h1>Verses#index</h1>
<p>YEAH!!!</p>
<p>Find me in app/views/verses/index.html.erb</p>

<% @verses.each do |verse| %>
<%= verse %>
<% end %>


<%= render :partial => "verse", :collection => @verses %>