<div class="row-fluid show-grid">
              <div class="span4">
              	<h3>Be Sanctified.</h3>
              	<p>Sanctify them by the truth; your word is truth. As you sent me into the world, I have sent them into the world.
              			<strong>John 17:18-18</strong>
              	</p>
              </div>
              <div class="span4">
              	<h3>Have Joy.</h3>
              	<p>When your words came, I ate them; they were my joy and my heart’s delight, for I bear your name, O LORD God Almighty.
              		<strong>Jeremiah 15:16</strong>
              	</p>
              </div>
              <div class="span4">
              	<h3>Grow your Faith.</h3>
              	<p>Consequently, faith comes from hearing the message, and the message is heard through the word of Christ.
              		<strong>Romans 10:17</strong>
              	</p>	

              </div>
            </div>